// // image-slider.scss
// .slideshow-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;

// }

// .slideshow-image {
//   display: block;
//   width: 100%;
//   height: 463px;
//   border-radius: 1rem;
//   object-fit: cover; /* Ensure the image covers the entire container */
//   transition: opacity 5s ease-in-out, transform 5s ease-in-out; /* Transitions for fade and zoom effects */
// }

// Zoom-out animation
@keyframes zoomOut {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(125%);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(125%);
  }

  to {
    transform: scale(100%);
  }
}

// Fade-out and fade-in animations
@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 75%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 75%;
  }

  to {
    opacity: 100%;
  }
}

// Apply animations based on class
.zoom-out {
  animation: zoomOut 5s ease-in-out infinite;
}

.zoom-in {
  animation: zoomIn 5s ease-in-out infinite;
}

.fade-out {
  animation: fadeOut 5s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 5s ease-in-out forwards;
}


.slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slideshow-content {
  position: relative;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: opacity ease, transform 5s ease;
}



.text-container {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  // font-size: 18px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 322px;
    overflow: hidden;
  }
  /* Adjust for mobile devices */
  .text-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 2rem;
    // font-size: 18px;
    font-weight: bold;
  }
}