.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 2rem 1rem 1rem 1rem;
    background: #fcfdff;
    box-shadow: 0px 0px 1.5625rem 0px rgba(0, 0, 0, 0.12);

    .custom-placeholder::placeholder {
        font-size: 0.8rem;
    }

    .mobile-number-field {
        display: flex;
        align-items: center;
        .MuiFormControl-root{
            width: 100%;
        }
        .country-select {
            width: 6.25rem;
            margin-right: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.25rem;
            max-height: 12.5rem;
            overflow-y: auto;

            option {
                padding: 0.5rem;
                background-color: #f9f9f9;
                color: #333;
            }

            option:hover {
                background-color: #e6e6e6;
            }

            option:checked {
                background-color: #d9d9d9;
                color: #000;
            }
        }

        .isd-code {
            margin-right: 0.5rem;
            font-size: 1rem;
        }
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .submit-button {
        background-color: #ff0000;
        color: #fff;

        &:hover {
            background-color: #cc0000;
        }
    }

    .form-footer {
        font-size: 0.6rem;
        text-align: center;
        margin-top: -1rem;

        a {
            color: #ff0000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 2.125rem;
        height: 1.25rem;
    }

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 2.125rem;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 0.875rem;
        width: 0.875rem;
        left: 0.1875rem;
        bottom: 0.1875rem;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: #ff0000;
    }

    input:checked+.slider:before {
        transform: translateX(0.875rem);
    }

    @media (max-width: 450px) {
        padding: 1.5rem 0.75rem 0.75rem 0.75rem;
        gap: 1rem;

        .country-select {
            width: 5rem;
            padding: 0.4rem;
        }

        .isd-code {
            margin-right: 0.4rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        .checkbox-label .whatsapp-placeholder {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 376px) {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        gap: 0.75rem;

        .country-select {
            width: 4rem;
            padding: 0.3rem;
        }

        .isd-code {
            margin-right: 0.3rem;
        }

        h2 {
            font-size: 1rem;
            margin-top: 0.5rem;
        }

        .checkbox-label .whatsapp-placeholder {
            font-size: 0.6rem;
        }
    }

    @media (max-width: 320px) {
        padding: 0.75rem 0.25rem 0.25rem 0.25rem;
        gap: 0.5rem;

        .country-select {
            width: 3.5rem;
            padding: 0.25rem;
        }

        .isd-code {
            margin-right: 0.25rem;
        }

        h2 {
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }

        .checkbox-label .whatsapp-placeholder {
            font-size: 0.5rem;
        }
    }
}