.category_box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem; 
    margin: 1rem;
    img {
        width: 100%; 
        height: 300px; 
        object-fit: cover;
        object-position: center center;
        border-radius: 15px; 
    }

    .text {
        color: #000000;
        font-size: 19px; 
        font-weight: 600; 
        margin: 1rem 0rem 1rem 0rem;
    }

    button {
        font-family: "Poppins", Sans-serif;
        font-weight: 600; 
        fill: #000000;
        color: #000000;
        background-color: #f0f0f0;
        padding: 0.5rem 1rem; 
        &:hover {
            background-color: #ef4136;
            fill: #f0f0f0;
            color: #f0f0f0;
        }
    }
    a{
        // text-decoration: none;
        &:hover {
            background-color: #ef4136;
            fill: #f0f0f0 !important;
            color: #f0f0f0 !important;
        }
        button {
            font-family: "Poppins", Sans-serif;
            font-weight: 600; 
            fill: #000000;
            color: #000000;
            background-color: #f0f0f0;
            padding: 0.5rem 1rem; 
            &:hover {
                background-color: #ef4136;
                fill: #f0f0f0;
                color: #f0f0f0 !important;
            }
        }
    }
}
