.why-us-card-box {
    padding: 0rem 2rem 0rem 2rem;
    margin: 2rem auto 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 6rem;
        margin-bottom: 1rem;
    }

    p {
        color: #7A7A7A;
    }
}

@media (max-width: 1024px) {

    /* Adjust for iPads */
    .why-us-card-box {
        padding: 0rem 0.5rem 0rem 0.5rem;
        margin: 1rem 0rem 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;

        img {
            width: 60px;
            height: 60px;
        }
    }
}

@media (max-width: 600px) {

    /* Adjust for mobile devices */
    .why-us-card-box {

        // padding: 0rem 2rem 0rem 2rem;
        // margin: 0rem auto 0rem auto;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        img {
            width: 81px;
            height: 81px;
        }
    }
}