.box-container {
    background-color: white;
    border-radius: 10px;
    width: 242px;
    padding: 1rem;
    margin: 1rem;
    

    transition: all .3s ease;

    &:hover {
        background: antiquewhite;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
    }

    img {
        width: 100%;
        height: 179px;
        object-fit: cover;
        object-position: center center;
        border-radius: 10px;
    }

    .main-heading {
        color: #000000;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .sub-heading {
        color: #7A7A7A;
        font-size: 1rem;
        margin: 0.5rem 0rem 1rem 0rem;
    }

    @media (max-width: 600px) {
     
        .sub-heading {
            color: #7A7A7A;
            font-size: 1rem;
            font-weight: 600;
            text-align: left;
            padding: 0rem 0rem 0rem 0rem;
        }
      }
    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Poppins", Sans-serif;
        font-weight: 600;
        width: 100%;
        color: #EF4136;
        background-color: #FEF4F3;
        border-radius: 6px 6px 6px 6px;
        padding: 10px 8px 10px 16px;

        // margin: 0px 0px 23px 0px;
        &:hover {
            background-color: orangered;
            color: #FEF4F3;
            // fill: #f0f0f0;
            // color: #f0f0f0;
        }
    }
}

.slick-slide>div {
    margin: 0 10px;
}