.container {
  position: fixed;
  z-index: 99;
  top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  background: linear-gradient(90deg, #ffffff 0%, #EB5E20 150%);
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;

  .suggested-word-list {
    position: absolute;
    background-color: #fff;
  }

  .logo {
    display: flex;
    width: 20%;
    // align-items: flex-end;
    // justify-content: flex-start;

    a {
      color: rgb(118, 90, 71);
      text-decoration: none;
      display: flex;
      align-items: flex-end;

      padding: 0;
      margin: 0;

      &:hover {
        color: black;
        text-decoration: none;
      }

      h1 {
        font-weight: 600;
        font-size: 1.2em;
        height: 70px;
        line-height: 80px;
      }
    }

    img {
      object-fit: cover;
      width: 70px;
      height: 70px;
    }
  }

  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
    .navItem {
      // width: 70%;
      // padding-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      
      // gap: 25px;
      .arrow::after {
        content: "";
        display: inline-block;
        margin-left: 0.28em;
        vertical-align: 0.09em;
        border-top: 0.42em solid;
        border-right: 0.32em solid transparent;
        border-left: 0.32em solid transparent;
        // color: orangered;
      }

      a {
        font-weight: 400;
        color: black;
        text-decoration: none;

        div {
          font-weight: 600;
          color: black;
          height: 70px;
          padding: 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          transition: all ease-out 0.1s;
          font-size: 0.8rem;

          &:hover {
            cursor: pointer;
            color: orangered;
            border-bottom: 3px solid orangered;
            transition: all ease-in 0.1s;
          }
        }
      }
    }

    .activeNavItem {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      .arrow::after {
        content: "";
        display: inline-block;
        margin-left: 0.28em;
        vertical-align: 0.09em;
        border-top: 0.42em solid;
        border-right: 0.32em solid transparent;
        border-left: 0.32em solid transparent;
      }

      a {
        font-weight: 400;
        color: black;
        text-decoration: none;

        div {
          font-weight: 500;
          color: orangered;
          height: 90px;
          padding: 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          transition: all ease-out 0.1s;

          &:hover {
            cursor: pointer;
            color: orangered;
            border-bottom: 3px solid orangered;
            transition: all ease-in 0.1s;
          }
        }
      }
    }
  }

  .languageToggle {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;

    .langLabel {
      font-size: 0.8rem;
      font-weight: 500;
      color: #333;
      min-width: 2rem;
      text-align: center;
    }

    .toggleSwitch {
      position: relative;
      display: inline-block;
      width: 2.5rem;
      height: 1.25rem;
    }

    .toggleSwitch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      border-radius: 1.25rem;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 1rem;
      width: 1rem;
      left: 0.125rem;
      bottom: 0.125rem;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #EB5E20;
    }

    input:checked + .slider:before {
      transform: translateX(1.25rem);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.sideBar {
  height: 100vh;
  width: 60%;
  background-color: whitesmoke;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  display: none;
  transition: all ease-in-out 0.2s;
  z-index: 100;
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.258);

  .sideBarList {
    padding-top: 18%;
    width: 100%;

    .activeClass {
      color: orangered;
    }

    li {
      list-style: none;
      padding: 1rem;
    }

    a {
      font-weight: 500;
      color: black;
      text-decoration: none;

      .sideItems {
        color: black;

        &:hover {
          color: orangered;
        }
      }
    }

  }

  .cross {
    position: absolute;
    z-index: 99999;
    top: 3%;
    right: 2%;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

// Tablet and desktop styles
@media (min-width: 768px) {
  .container {
    .listItem {
      display: flex;
    }

    .icon {
      display: none;
    }

    .logo {
      a h1 {
        font-size: 1.2em;
      }

      img {
        width: 70px;
        height: 70px;
      }
    }

    .listItem {
      gap: 1rem;

      .navItem div {
        font-size: 0.8rem;
      }
    }
  }
}

// Desktop specific
@media (min-width: 1024px) {
  .container {
    .listItem {
      gap: 2rem;

      .navItem div {
        font-size: 0.8rem;
      }
    }

    .logo h1 {
      font-size: 1.2em;
    }
  }
}