@font-face {
  font-family: 'Poppins';
  src: url('/public/font/Poppins-Regular.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins'
}
body {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}
.text-center{
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
scrollbar-width: none;

/* body.rtl {
  direction: rtl;
}
body.ltr {
  direction: ltr;
} */